*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.footer{
    background-color: #1C1364;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.redes a{
    margin: 10px;
}
.paragrafo{
    color: white;
    font-size: 16px;
}
.redes{
    max-width: 2rem;
}
@media only screen and (max-width: 600px){
    .footer{
        flex-direction: column;
    }
}